extends ../layout

block content
  .single__event
    .single__event__top
      .single__event__title
    .single__event__author.avatar__big
    .single__event__bottom
      .single__event__content
        .single__event__date
          <i class="fas fa-calendar"></i>
          h1 #{h.moment(booking.event.date).format("MMMM Do")}
        .single__event__attend
          <i class="fas fa-glass-cheers"></i>
          h1  Booked for #{booking.amount} people
        .single__event__time
          <i class="fas fa-clock"></i>
          h1 #{h.moment(booking.event.date).format("HH:mm")}
        .single__event__locale
          <i class="fas fa-map-marker-alt"></i>
          h1 #{booking.event.location.address}
      .single__event__buttons
        .single__event__bg
          a(href=`/profile/${booking.booker._id}`)
            i.fas.fa-arrow-left
        .single__event__bg
          a(href=`/event/${booking.event._id}/map`)
            i.far.fa-map
      if !review
        .single__event__reserve
          button.button#add__review Leave Review
    //- if user && event.author.equals(user._id)
    //-   a(href=`/event/${booking.event._id}/edit`)
    //-       p Edit