include ./_reviewForm

mixin bookingCard(booking = {})
  a(href=`/booking/${booking.id}`)
    .booking-card(style=`background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.45)), url('/uploads/pic.jpg');`)
      .booking-card__background
        .booking-card__title
          h1= booking.event.title
        .booking-card__bottom
          .booking-card__date
            h3= h.moment(booking.event.date).format("MMMM Do")
          .booking-card__amount
            h3  #{booking.amount} persons
        .booking-card__confirmed(class=booking.confirmed ? 'confirm__green' : 'confirm__yellow')
          span #{booking.confirmed ? "Confirmed!" : "Pending"}