mixin reviewForm(booking)
  .review__wrap 
    form.review__form(action=`/reviews/${booking._id}` method='POST')
      textarea.review__form__text(name="comment" required placeholder= "Did you try this place? Have something to say? Leave a review!")
      .review__form__stars
        each num in [5, 4, 3, 2, 1]
          input(type='radio' required id=`star${num}` name='rating' value=num)
          label(for=`star${num}`) #{num} Stars
      input.button(type='submit' value="Submit Review")